<div>
    <h1 class="title">FruitGuard</h1>
    <app-nav></app-nav>
    <router-outlet></router-outlet>
    <footer class="page-footer light-green lighten-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h2 class="black-text">FruitGuard</h2>
              <p class="grey-text text-darken-3">Página para ver información sobre el tema y loguearse</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h3 class="black-text">Integrantes</h3>
              <ul>
                <li><p class="black-text">Bryan Santillan</p></li>
                <li><p class="black-text" >Pedro Alajo</p></li>
                <li><p class="black-text">Guadalupe Chaziquiza</p></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
</div>