<div class="dashboard-container">
    <h2>Dashboard de Sensores</h2>
  
    <div class="chart-row">
      <div class="chart-column">
        <h3>Temperatura por Hora</h3>
        <canvas id="graficoTemperaturaHoraria"></canvas>
      </div>
  
      <div class="chart-column">
        <h3>Humedad por Hora</h3>
        <canvas id="graficoHumedadHoraria"></canvas>
      </div>
    </div>
  
    <div class="chart-row">
      <div class="chart-column">
        <h3>Amoniaco por Hora</h3>
        <canvas id="graficoAmoniacoHoraria"></canvas>
      </div>
  
      <div class="chart-column">
        <h3>Humo por Hora</h3>
        <canvas id="graficoHumoHoraria"></canvas>
      </div>
    </div>
  
    <div class="chart-row">
      <div class="chart-column">
        <h3>Monóxido de Carbono por Hora</h3>
        <canvas id="graficoMonoxidoCarbonoHoraria"></canvas>
      </div>
    </div>
  </div>